.wholebox{height: 800px;
    width: 1600px;
    background-color: white;
    border: 2px;
    border-style: solid;
}
    
.container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 1600px;

    display: flex;

}    
.ndcontaine {
    display: flex; 


}    

.box{
    display: flex;
    height: 200px;
    width: 1580px;
    background-color: rebeccapurple;
    border: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    
}
.box1{
   display: flex;
    height: 500px;
    width: 760px;
    background-color: beige;
    border: 2px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.box2{
   display: flex;
    height: 500px;
    width: 760px;
    background-color: beige;
    border: 2px;
    border-style: solid;
    margin-left: 40px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


