.container{
    display: flex; 
    flex-direction: column;
    width: 900px;
    height: 600px;
    border: 2px;
    border-style: solid;
}
.forfirstitem{
    display: flex;
    align-items: center;
}

.forseconditem{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;

}
.forthirditem{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;

}
.box1{
 width: 900px;
 height: 200px;
 background-color: beige;
 border: 2px;
 border-style: solid;
}
.box2{
    width: 900px;
    height: 200px;
    background-color: beige;
    border: 2px;
    border-style: solid;

}
.box3{
    width: 900px;
    height: 200px;
    background-color: gold;
    border: 2px;
    border-style: solid;
}
.img1{
    margin-top: 20px;
    display: flex;
    flex-grow: 1;
    

}   
.des1{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-right: 340px;

}   
.pric1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
    
}   
   